body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*Header Section*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    min-width: 600px;
}

header img {
    padding: 15px 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.div-header-title {
    position: absolute;
    padding-right: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    right: 0;
    position: absolute;
    padding: 16px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -39px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*End header*/

.footer {
    display: flex;
    text-align: left;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.icon-large {
    font-size: 1.2em;
    color: grey;
    margin-right: 10px;
}

.div-header {
    display: flex;
    align-items: center;
}

.button {
    align-content: center;
    align-items: center;
    text-align: center;
    height: 25lepx;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: 2px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 300ms ease-in-out;
}

/* Working with pop-up window */

.article-container {
    width: 95%;
    /*min-height: 500px;*/
    height: 100%;
    margin: 30px auto;
    background-color: #fff;
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 1;
}

.popup-content {
    position: relative;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}